work
digicode.v.bak
Digital Access Control.mpf
Digital Access Control.cr.mti
README.md.bak
waves.do.bak
digicode_test.v.bak
digicode_assertions.sv.bak
bindfile.sv.bak
vish_stacktrace.vstf
vsim.wlf
.gitignore.bak